* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Mimosa Script";
  src: url("https://cdn.shopify.com/s/files/1/0698/9814/1941/files/Mimosa_Script_OTF.otf?v=1740493193")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Opsi";
  src: url("https://cdn.shopify.com/s/files/1/0698/9814/1941/files/Opsi.otf?v=1740493399")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Use Mimosa Script for h2 headings */
/* h2 {
  font-family: "Mimosa Script", cursive;
} */

/* Use Opsi for normal text */
body,
button,
input,
h2 {
  font-family: "Opsi", sans-serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Girl Theme: Additional color stops for a richer gradient */
.girl-background {
  background: linear-gradient(45deg, #ff9a9e, #ffc0cb, #fbc2eb, #fecfef);
  background-size: 200% 200%;
  animation: gradientAnimation 8s ease infinite;
}

/* Boy Theme: Additional color stops for a deeper, dynamic gradient */
.boy-background {
  background: linear-gradient(45deg, #12100e, #1c1f26, #2b4162, #3c4e6d);
  background-size: 200% 200%;
  animation: gradientAnimation 8s ease infinite;
}

.invite-title {
  margin: 10px 0;
  font-size: 38px;
}

.invite-subtitle {
  margin: 10px 0;
  font-size: 32px;
}

.invite-ceremony {
  margin: 10px 0;
  font-size: 24px;
}

img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.invite-input {
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* custom-toast.css */

/* Override the main toast style */
.Toastify__toast {
  background-color: #333333 !important;
  color: #000000 !important;
  border-radius: 10px !important;
  font-family: "Opsi", sans-serif;
  font-size: 16px;
  padding: 16px;
}

/* Success toast style */
.Toastify__toast--success {
  background-color: #ffc0cb !important;
}

/* Error toast style */
.Toastify__toast--error {
  color: #ffffff !important;
  background-color: #f44336 !important;
}

/* You can also override the progress bar if needed */
.Toastify__progress-bar {
  background: #000000 !important;
}

/* Responsive adjustments for screens with max-width of 600px */
@media (max-width: 600px) {
  .bg {
    padding: 40px;
  }
  .invite-title {
    font-size: 28px;
  }
  .invite-subtitle {
    font-size: 24px;
  }
  .invite-ceremony {
    font-size: 18px;
  }
  img {
    max-height: 200px;
  }

  .invite-input {
    width: 100%;
  }
}
